################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/anetpy-0.1.0/.vs
/anetpy-0.1.0/anetpy/manager_test.py
/anetpy-0.1.0/anetpy/manager_test.py
